@font-face {
    font-family: 'Taz';
    src:  url(https://smartbot.club/botcab.loc/web/font/taz.otf);
}
html,
body {
    height: 100%;
}
body{
    background-color: #E0E3E5;
}
.msg_text_style {
    width: 600px;
    word-wrap: break-word;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px 190px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
#display_none_mob{
    display:none;
}
#block_mob{
    display: none;
}
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.mystyle_li{
    margin-top: 51px;
    height: 85vh;
    background-color: aqua;
    float: left;

}
/*.leftfloat{
    float: left;
}*/
#menuVertical{
    width: 71px;
    height: auto;
    position: fixed;
    z-index: 5;
    top: 79px;
    transition: .3s;
}

#menuVertical ul{
    width: 54px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

#menuVertical ul li{
    display: block;
    width: 175px;
    position: relative;
}

#menuVertical ul li a{
    position: relative;
    display: block;
    width: 198px;
    height: auto;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ccc;
    line-height: 2em;
    padding: 10px 15px;
    background: rgb(4, 52, 65);
    text-decoration: none;
    text-shadow: 2px 2px 3px #222;
}



#menuVertical ul li a:hover,
#menuVertical ul li:hover a{
    background: rgb(30, 60, 67);
    color: #fff;
}

#menuVertical ul li ul{
    position: absolute;
    top: 0px;
    left: 198px;
    display: none;
    width: auto;
}

#menuVertical ul li:hover ul{
    display: block;
}

#menuVertical ul li ul li a{
    white-space: nowrap;
    text-transform: none;
    padding: 10px 20px;
    width: 153px;
}

#menuVertical ul li ul li a:hover{
    background: rgb(38, 79, 88);
    color: #fff;
}
.menu{
    position: absolute;
    width: 198px;
    height: 100%;
    background: rgb(4, 52, 65);
    box-shadow: 1px 2px 3px #888;
    position: fixed;
    top: 50px;
    z-index: 3;
}

.footerm{
    position: absolute;
    width: 198px;
    height: 88px;
    bottom: 0px;
    background: rgb(4, 52, 65);
    margin-bottom: 78px;
    z-index: 13;
    border-top: 1px solid rgb(9, 42, 51);
    color: rgb(52, 100, 113);
    text-align: center;
    padding-top: 22px;
}

.img_n{
    transition: .3s;
}

.img_n:hover{
    margin-left: 5px;
    transition: .3s;
}

@media screen and (max-width: 1152px){
    #block_mob{
        display: block;
    }
    #block_pc{
        display: none;
    }
    #img_logo_duk{
        display:none;
    }
    .menu{
        width: 57px;
        transition: .3s;
    }
    #display_none_mob{
    display: block;
    }
    #display_none_pc{
        display: none;
    }

    #menuVertical ul li a{
        width: 57px;
        transition: .3s;
    }

    #menuVertical ul li{
        width: 57px;
        margin-left: -5px;
    }

    #menuVertical ul li ul li a{
        left: -141px;
    }

    span{
        display: none;
    }

    .footerm{
        transform: rotate(-90deg);
        left: -77px;
        border-right: 1px solid rgb(9, 42, 51);
        height: 24px;
        bottom: 77px;
        text-align: left;
        padding-left: 11px;
        padding-bottom: 25px;
        padding-top: 6px;
    }

    .img_n img{
        height: 40px;
        margin-left: -7px;
        margin-top: 9px;
    }
}
#img_mes{
    width :300px;
    margin-bottom:10px ;
}
#i_close_img{
    position: absolute;
    top: -12px;
    left: 310px;
}
#block_img_for_m{
    position: relative;
}
@media screen and (max-width: 1152px){
    .img_n img{
        display: none;
    }
    .wrap > .container {
        padding: 70px 15px 20px 15px;
    }
    #contionuser{
        padding-left: 65px;
    }
}



@media screen and (max-width: 700px){
    .wrap > .container {
        padding: 70px 15px 20px 15px;
    }
    #contionuser{
        padding-left: 65px;
    }
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand{
        margin-left: -106px;
    }
}
@media screen and (max-width: 1152px){
    .wrap > .container {
        padding: 70px 15px 20px 71px;
    }
}